body{
    background-color: brown;
}
.center{
text-align: center;
}
h1{
    font-family: fantasy;
    color: brown;
}
h2 {
    font-family: cursive;
    font-size: 30px;
}
.container{
    background-color: blanchedalmond;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
}